@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#form-two input {
  border-radius: 5px !important;
 width: 100%;
 border: none !important;
 text-indent: 10px;
 line-height: 2.25rem;
}
#form-three input{
border-radius: 5px !important;
 width: 50%;
 border: none !important;
 line-height: 2.25rem;
}
#form-three input[type = "text"] , #form-three input[type ="number"]{
  text-indent: 10px;
}

input::placeholder{
  font-size: small;
}
h5{
  display: block;
  color: red !important;
  display: none;
}

input:invalid{
  border:2px solid red;
}
input:invalid ~ h5{
 display: block;
} 
#field-section span input:invalid + h5{
  display: block;
}
input:not(:placeholder-shown):valid{
 border:2px solid rgb(8, 255, 49);
}

li{
   list-style-type:disc; 
}

.constant-spacing{
  @apply py-4 px-5 mb-7
}
.constant-spacing-md{
  @apply  px-10
}
.text-shadow{
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@layer utilities{
  
}
.grayscale-image{
     filter: grayscale(100%);
  }
.mobile-nav-icons{
  @apply  flex flex-col items-center p-4 rounded-2xl shadow-2xl
}
.svh-minHeight{
  min-height: 100svh;
}

.tab {
box-shadow: 0 1px 100px rgb(21, 21, 21 , 0.596); 
}
.tab .active-image{
  display: none;
}
.focused{
  background-color: white;
}
.focused .active-image{
  display: block;
}
.focused .image{
  display: none;
}

.sliderWidth{
  width: calc(100vw - 2.5rem);
}
.scroll-snap{
   scroll-snap-type: both;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

/* .account-number , .account-branch{
  display: none;
}
.focused .account-number , .focused .account-branch {
  display: flex;
}


.bank {
   transition: height 1.3s ease-in-out;
} */
/* .box-shadowBottom::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; 
    backdrop-filter: blur(10px); 
    background: black;
} */